body{
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: #2A2A2A;
    position: relative;
    margin: 100px;
}

#panel{
    width: 684px;
    height: 576px;
    background-color: #db7a7a;
    position: relative;
    float: right;
    right: 20px;
}



.wall{
    width: 36px;
    height: 36px;
    background-image: url("wall.png");
    position: relative;
    display: inline-block;

}
.block{
    width: 36px;
    height: 36px;
    background-image: url("box.png");
    position: relative;
    display: inline-block;
}
.player{
    width: 36px;
    height: 36px;
    background-image: url("player.png");
    position: relative;
    display: inline-block;
}
.goal{
    width: 36px;
    height: 36px;
    background-image: url("heart_box.png");
    position: relative;
    display: inline-block;
}
.space{
    width: 36px;
    height: 36px;
    position: relative;
    display: inline-block;
    background-color: azure;
}
